<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trades Report</title>
        <link rel="stylesheet" href="notify-report-with-assets.css">
    </head>
    <body>
        <header>
            <h1>ATTENTION!</h1>
            <p>Please find below information regarding a critical notification and their respective assets.</p>
        </header>
        <table>
            <thead>
                <tr>
                    <th>BODY</th>
                    <th>HEADER</th>
                    <th>NOTIFY_SEVERITY</th>
                    <th>TOPIC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${notify.body}">This is an email body.</td>
                    <td th:text="${notify.header}">Email header</td>
                    <td th:text="${notify.notifySeverity}">Severity of the notification</td>
                    <td th:text="${notify.topic}">Notify topic</td>
                </tr>
            </tbody>
        </table>
        <p>Best regards,<br>Genesis</p>
        <img src="genesis-logo.png" alt="Genesis">
    </body>
</html>