{
  "prerequisites": {
    "foundationUI": "@foundationVersion@",
    "gsf": "@genesisVersion@"
  },
  "dependencies": {
    "pbcNotify": "@client.version@",
    "serverDepId": "@server.version@",
    "fileServerDepId": "@fileServerVersion@"
  }
}
